@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    @variants responsive {
        .filter-brightness-25 {
            filter: brightness(0.25);
        }

        .filter-brightness-50 {
            filter: brightness(0.5);
        }

        .filter-brightness-100 {
            filter: brightness(1);
        }
    }
}



@font-face {
    font-family: 'chockshop';
    src: url('../../public/fonts/chockshop.woff2') format('woff2'),
        url('../../public/fonts/chockshop.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    vertical-align: text-bottom;
    line-height: 1.5;

}

body {
    overflow-x: hidden;
}

p::selection {
    background: rgba(252, 165, 165);
    color: white;

}


p::-moz-selection {
    background: rgba(252, 165, 165);
    color: white;

}

h1::selection {
    background: rgba(252, 165, 165);
    color: white;

}

h1::-moz-selection {
    background: rgba(252, 165, 165);
    color: white;

}

h2::selection {
    background: rgba(252, 165, 165);
    color: white;

}

h2::-moz-selection {
    background: rgba(252, 165, 165);
    color: white;

}

#id {
    position: relative;
}

.cartActive {
    right: 0px;
}

.min-h-66 {
    min-height: 66vh;
}

.max-h-66 {
    max-height: 66vh;
}


hr {
    border-top: 5px dotted rgb(244, 235, 211);
    width: 100%;

}


.badge {
    position: absolute;
    top: 11px;
    right: -10px;
    padding: 2px 8px;
    border-radius: 50%;
    background-color: rgb(253, 99, 99);
    color: white;
    font-size: 0.8em;
}

.glass {
    background: rgba(50, 50, 50, 0.65);
    box-shadow: 0 8px 32px 0 rgba(245, 236, 212, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.glassClear {
    box-shadow: 0 8px 32px 0 rgba(245, 236, 212, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.glassTwo {

    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba(245, 236, 212, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.chockGlow {
    -webkit-box-shadow: 0px -1px 38px 4px #f4ebd3;
    box-shadow: 0px -1px 38px 4px #f4ebd3;
}

.checkoutImg {
    background-image: url("../../public/images/bg/checkout.png");
    background-repeat: no-repeat;
    background-size: contain, cover;
}

.prodBg {
    background-image: url("../../public/images/products/shev.svg"), url("../../public/images/bg/prod-bg-left.png"), url("../../public/images/bg/prod-bg-right.png"), url("../../public/images/bg/prod-bg.png");
    background-position: bottom, left, right, left top;
    background-repeat: repeat-x, no-repeat, no-repeat, no-repeat;
    background-size: 50px, contain, contain, auto;
}

.chockBorder {
    background-image: url("../../public/images/products/shev.svg");
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 50px;
    height: 50px;

}


.approved {

    @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800;
}

.pending {

    @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800;

}

.cancelled {

    @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800;

}



.foobar {
    border-image-source: url("../../public/images/products/shev.svg");
    border-image-slice: 20;
    border-image-width: 20;
    border-image-outset: 1;
    border-image-repeat: round;

}


.blob {
    @apply bg-slate-light;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);

    height: 10px;
    width: 10px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

.blob.blue {
    background: rgba(52, 172, 224, 1);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

.blob.green {
    background: rgba(51, 217, 178, 1);
    box-shadow: 0 0 0 0 rgba(217, 51, 51, 1);
    animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

.blob.red {
    background: rgba(253, 99, 99, 1);
    box-shadow: 0 0 0 0 rgba(253, 99, 99, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(253, 99, 99, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(253, 99, 99, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(253, 99, 99, 0);
    }
}


.Blobs {
    grid-area: 1 / 7 / 7 / 12;
    background-image: url("../../public/images/bg/prod-bg-left.png"), url("../../public/images/bg/prod-bg-right.png");
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
}

.shadow-chock-header {
    -webkit-box-shadow: -9px -7px 104px -45px #f3eee2;
    box-shadow: -9px -7px 104px -45px #f3eee2;
}

.bgCreamAndBlack::before {
    content: "";
    background-color: rgb(21, 21, 21);
    position: absolute;
    top: 70%;
    bottom: 0%;
    right: 0;
    left: 0;
    z-index: -1;
}

.homeHeroCta::before {
    content: "";
    background-color: rgb(178, 151, 123);
    position: absolute;
    top: 78%;
    bottom: 0%;
    right: 0;
    left: 0;
    z-index: -1;
}


.grid-container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr 0fr;

    gap: 0px 0px;
}

.Slate {
    grid-area: 1 / 1 / 5 / 4;
}

.image {
    grid-area: 1 / 1 / 4 / 4;
}

.title {
    grid-area: 2 / 2 / 3 / 3;
}

.text {
    grid-area: 3 / 2 / 4 / 3;
}

.Fran {
    grid-area: 4 / 2 / 6 / 2;
    background-color: rgba(186, 158, 124, 0.5);
    backdrop-filter: blur(10px);
}

.bg-blur-chock {
    background-color: rgba(56, 56, 56, 0.5);
    backdrop-filter: blur(10px);
}

.input-user {
    background: url("../../public/images/inputIcons/user.svg") no-repeat;
    background-position: 10px;
    background-color: #343434;
    padding-left: 35px;
    transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);

}

.input-phone {
    background: url("../../public/images/inputIcons/smartphone.svg") no-repeat;
    background-position: 10px;
    background-color: #343434;
    padding-left: 35px;
    transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);

}

.input-email {
    background: url("../../public/images/inputIcons/mail.svg") no-repeat;
    background-position: 10px;
    background-color: #343434;
    padding-left: 35px;
    transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);

}

.input-contact:focus {
    background-position-x: -100px;
    padding-left: 5px;
    transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-appearance: none;
    outline: none;
    @apply border border-white;
}

.input-contact:active {
    -webkit-appearance: none;
    outline: none;
}

.input-contact:focus-visible {
    outline: none;
}

.input-contact {
    background-color: #343434;
    outline: none;
}



.mOps-whisk {
    top: -18%;
    transform: rotate(18deg);
    left: -10%;
}

.mOps-whiskTwo {
    top: -10%;
    transform: rotate(99deg);
    left: 55%;
}


.mOps-heart-one {
    top: -30%;
    transform: rotate(-27deg);
    left: 25%;
    animation-name: scale-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.mOps-heart-two {
    top: -35%;
    transform: rotate(-27deg);
    left: 30%;
    animation-name: scale-move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.mOps-heart-three {
    top: -36%;
    transform: rotate(-27deg);
    left: 60%;
    animation-name: scale-move;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes scale-move {
    0% {
        opacity: 0;
        transform: scale(0) translateY(500px);

    }

    25% {}

    50% {
        opacity: 1;

    }

    75% {}

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.wobbleAnimation {
    animation-name: wobble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes wobble {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0px);
    }
}

.mOps-raspberry {
    top: -20%;
    transform: rotate(-27deg);
    left: 60%;
    opacity: 1;
}

.mOps-laid {
    top: -35%;
    transform: rotate(25deg);
    left: 70%;
}

.mOps-flag-left {
    top: -30%;
    transform: rotate(334deg);
    left: 15%;
    animation-name: flag-wobble-left;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.mOps-flag-right {
    top: -30%;
    transform: rotate(26deg);
    left: 82%;
    animation-name: flag-wobble-right;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes flag-wobble-left {
    0% {
        transform-origin: bottom;
        transform: rotate(0deg);
    }

    25% {
        transform-origin: bottom;
        transform: rotate(-20deg);
    }

    50% {
        transform-origin: bottom;
        transform: rotate(0deg);
    }

    75% {
        transform-origin: bottom;
        transform: rotate(-20deg);
    }

    100% {
        transform-origin: bottom;
        transform: rotate(0deg);
    }
}

@keyframes flag-wobble-right {
    0% {
        transform-origin: bottom;
        transform: rotate(0deg);
    }

    25% {
        transform-origin: bottom;
        transform: rotate(20deg);
    }

    50% {
        transform-origin: bottom;
        transform: rotate(0deg);
    }

    75% {
        transform-origin: bottom;
        transform: rotate(20deg);
    }

    100% {
        transform-origin: bottom;
        transform: rotate(0deg);
    }
}

.downArrow-animate {

    animation-name: pulse-arrow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes pulse-arrow {
    0% {
        transform: translateY(25px);
        opacity: 0.2;
    }

    50% {
        transform: translateY(50px);
        opacity: 1;
    }

    100% {
        transform: translateY(25px);
        opacity: 0.2;
    }
}

@media (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1fr 2fr 2fr 0.6fr;
        grid-template-rows: 0.1fr 0.2fr 1fr 1fr 0.5fr 0.5fr 0.1fr;
        gap: 0px 0px;

    }

    .Slate {
        grid-area: 1 / 1 / 6 / 7;
    }

    .title {
        grid-area: 2 / 2 / 4 / 6;
    }

    .image {
        grid-area: 3 / 4 / 8 / 7;
    }

    .Fran {
        grid-area: 5 / 1 / 7 / 5;
        background-color: rgba(186, 158, 124, 0.5);
        backdrop-filter: blur(10px);
    }

    .text {
        grid-area: 4 / 2 / 5 / 5;
    }

    .bgCreamAndBlack::before {

        top: 79%;

    }

    .mOps-flag-left {
        top: -30%;

        left: 35%;


    }

    .mOps-flag-right {
        top: -30%;
        transform: rotate(26deg);
        left: 64%;

    }
}

@media (min-width: 799px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1fr 2fr 2fr 0.6fr;
        grid-template-rows: 0.7fr 0.2fr 1fr 1fr 0.5fr 0.5fr 0.1fr;
        gap: 0px 0px;
    }

    .Slate {
        grid-area: 1 / 1 / 6 / 7;
    }

    .title {
        grid-area: 2 / 2 / 4 / 6;
    }

    .image {
        grid-area: 3 / 4 / 8 / 7;
    }

    .Fran {
        grid-area: 5 / 1 / 7 / 5;
        background-color: rgba(186, 158, 124, 0.5);
        backdrop-filter: blur(10px);
    }

    .text {
        grid-area: 4 / 2 / 5 / 5;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.8fr 0.9fr 0.8fr 0.8fr 0.7fr 1.6fr 0.4fr 1fr;
        grid-template-rows: 1fr 0.6fr 1.8fr 1.2fr 0.6fr repeat(2, 0.4fr) 0.2fr;
        gap: 0px 0px;

    }

    .Slate {
        grid-area: 1 / 1 / 7 / 7;
    }

    .title {
        grid-area: 2 / 2 / 4 / 7;
    }

    .text {
        grid-area: 4 / 2 / 6 / 5;
    }

    .image {
        grid-area: 2 / 6 / 8 / 10;
    }

    .Fran {
        grid-area: 5 / 8 / 9 / 12;

        backdrop-filter: blur(10px);
    }

    .bgCreamAndBlack::before {

        top: 72%;

    }

    .mOps-flag-left {
        top: -6%;
        left: 25%;
    }


    .mOps-flag-right {
        top: -6%;
        transform: rotate(26deg);
        left: 73%;

    }
}

@media (min-width: 1920px) {
    .grid-container {
        display: grid;
        grid-template-columns: 20% 1fr 1fr 1.8fr 0.9fr 0.8fr 0.8fr 0.7fr 1.6fr 0.4fr 20%;
        grid-template-rows: 1fr 0.6fr 1.8fr 1.2fr 0.6fr repeat(2, 0.4fr) 0.2fr;
        gap: 0px 0px;

    }

    .Slate {
        grid-area: 1 / 1 / 7 / 7;
    }

    .title {
        grid-area: 2 / 2 / 4 / 7;
    }

    .text {
        grid-area: 4 / 2 / 6 / 5;
    }

    .image {
        grid-area: 2 / 6 / 9 / 10;
    }

    .Fran {
        grid-area: 5 / 8 / 8 / 12;

        backdrop-filter: blur(10px);
    }

    .mOps-flag-left {
        top: -20%;


    }

    .mOps-flag-right {
        top: -20%;


    }
}
