@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


 

@font-face {
  font-family: 'chockshop';
  src: url('../../public/fonts/chockshop.woff2') format('woff2'),
       url('../../public/fonts/chockshop.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  vertical-align: text-bottom;
  line-height: 1.5;

}

#id {
  position: relative;
}

.cartActive{
  right: 0px;
 }

.min-h-66 {
  min-height: 66vh;
}

.max-h-66 {
  max-height: 66vh;
}


hr {
  border-top:5px dotted rgb(244, 235, 211);
  width:100%;
  
}


.badge {
    position: absolute;
    top: 11px;
    right: -10px;
    padding: 2px 8px;
    border-radius: 50%;
    background-color: rgb(253, 99, 99);
    color: white;
    font-size: 0.8em;
  }

.glass {
  background: rgba( 50, 50, 50, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 245, 236, 212, 0.1 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  
}

.glassClear {
  box-shadow: 0 8px 32px 0 rgba( 245, 236, 212, 0.1 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  
}

.glassTwo {

  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba( 245, 236, 212, 0.1 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  
}

.chockGlow {
  -webkit-box-shadow: 0px -1px 38px 4px #f4ebd3; 
box-shadow: 0px -1px 38px 4px #f4ebd3;
}

.checkoutImg {
  background-image: url("../../public/images/bg/checkout.png");
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.prodBg{
  background-image: url("../../public/images/products/shev.svg"),  url("../../public/images/bg/prod-bg-left.png")  , url("../../public/images/bg/prod-bg-right.png")  , url("../../public/images/bg/prod-bg.png") ;
  background-position: bottom, left ,right ,left top ;
  background-repeat: repeat-x, no-repeat, no-repeat, no-repeat;
  background-size:  50px, contain, contain, auto;
}

.chockBorder {
  background-image: url("../../public/images/products/shev.svg");
  background-position: bottom left ;
  background-repeat: repeat-x;
  background-size:  50px;
  height: 50px;

}


.approved{

  @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800;
}

.pending{

  @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800;
  
}