@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.badge {
    position: absolute;
    top: 11px;
    right: -10px;
    padding: 2px 8px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.8em;
  }
